apiVersion: v1
kind: Service
metadata:
  name: java-app
  labels:
    app: java-app
spec:
  selector:
    app: java-app
  ports:
    - protocol: TCP
      name: app
      port: 8080
      targetPort: app
    - protocol: TCP
      name: metrics
      port: 8081
      targetPort: metrics
  type: NodePort

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: java-app
  labels:
    app: java-app
spec:
  replicas: 3
  selector:
    matchLabels:
      app: java-app
  template:
    metadata:
      name: java-app
      labels:
        app: java-app
    spec:
      containers:
        - name: java-app
          image: aam123/java-app:prometheus
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
              name: app
            - containerPort: 8081
              name: metrics
          env:
            - name: DB_USER
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: db_user
            - name: DB_PWD
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: db_pass
            - name: DB_NAME
              valueFrom:
                secretKeyRef:
                  name: db-secret
                  key: db_name
            - name: DB_SERVER
              valueFrom:
                configMapKeyRef:
                  name: db-config
                  key: db_server
      restartPolicy: Always
      imagePullSecrets:
        - name: regcred

---

apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: java-app-monitor
  labels:
    app: java-app
    release: monitoring-stack
spec:
  selector:
    matchLabels:
      app: java-app
  endpoints:
    - port: metrics
      interval: 15s
  namespaceSelector:
    matchNames:
      - default
