apiVersion: monitoring.coreos.com/v1
kind: PrometheusRule
metadata:
  name: mysql-rule
  namespace: monitoring
  labels:
    app: kube-prometheus-stack
    release: monitoring-stack
spec:
  groups:
    - name: mysql.rules
      rules:
      - alert: All instances down
        expr: mysql_up == 0
        for: 0m
        labels:
          severity: critical
          namespace: monitoring
        annotations:
          summary: "MySQL down (instance {{ $labels.instance }})"
          description: "MySQL instance is down on {{ $labels.instance }}\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
      - alert: Too many connections
        expr:   max_over_time(mysql_global_status_threads_connected[1m]) / mysql_global_variables_max_connections * 100 > 80
        for: 2m
        labels:
          severity: warning
          namespace: monitoring
        annotations:
          summary: "Too many connections (> 80%) (instance {{ $labels.instance }})"
          description: "MySQL instance {{ $labels.instance }} has too many connections\n  VALUE = {{ $value }}\n  LABELS = {{ $labels }}"
